<% if sec.type == "SKIP" %>
<% elsif sec.type == "FREESHORT" %>
<tr class="free">
  <td>
    <div style="height: 35px; overflow: hidden"> <!-- Should be 36, but weird stuff happens -->
      <div style="text-align:left; font-size: 8.5px"><%= sec.period_text %></div>
      <p><%= sec.time_text %><br></p>
    </div>
  </td>
</tr>
<% elsif sec.type != nil %>
<tr class=<%= css_per_class(sec) %>>
  <td>
    <% if sec.type.match(/^DOUBLE/) %>
    <div style="height: 109px; overflow: hidden"> <!-- Should be 108, but again, weirdness -->
      <% elsif sec.type.match(/SUPERDOUBLE/) %>
      <div style="height: 146px; overflow: hidden"> <!-- Should be 144 -->
	<% elsif sec.type.match(/NORMAL/) %>
      <div style="height: 72px; overflow: hidden">
	<% else puts "ERROR: No size for " + sec.type %>
        <% end %>
	<div style="text-align:left; font-size: 8.5px"><%= sec.period_text %></div>
	<p>
          <%= sec.time_text %><br>
	  <% if sec.type.match(/FREE/) %>
	  <% else %>
	  <% sect = Section.find_by(name: sec.name) %>
          <%= link_to(sec.name, sect, remote: true) %><br>
	  <%= shorten_name sec.teacher_name %><br>
          <%= sec.room %>
	  <% end %>
	</p>
      </div>
  </td>
</tr>
<% end %>

