<% if arr[3] == "SKIP" %>
<% elsif arr[3] != nil %>
<tr class=<%= css_per_class(arr) %>>
  <td>
    <% if arr[3].match(/^DOUBLE/) %>
    <div style="height: 100px; overflow: hidden">
      <% elsif arr[3].match(/SUPERDOUBLE/) %>
      <div style="height: 137px; overflow: hidden"> <!-- 137px...thats a bug, but 120px doesn't line up for some reason -->
	<% elsif arr[3].match(/NORMAL/) %>
      <div style="height: 60px; overflow: hidden">
        <% end %>
	<div style="text-align:left; font-size: 10px"><%= arr[5] %></div>
	<p>
          <%= arr[4] %><br>
	  <% if arr[3].match(/FREE/) %>
	  <% else %>
	  <% sec = Section.find_by(name: arr[0]) %>
          <%= link_to(arr[0], sec, remote: true) %><br>
          <%= arr[1] %><br>
          <%= arr[2] %>
	  <% end %>
	</p>
      </div>
  </td>
</tr>
<% elsif arr[3] == "FREESHORT" %>
<tr class="free">
  <td>
    <div style="height: 40px; overflow: hidden">
      <p><%= arr[4] %><br></p>
    </div>
  </td>
</tr>
<% end %>

