<% provide :title, @student.full_name %>
<h1><%= pref_name_form(@student) + " - " + @student.grad_year %></h1>
<center> <%= link_to "Download Schedule", student_path(@student, format: :png) %> </center> <br>
<div class="col-md-8 col-lg-offset-2 col-lg-6">
  <div class="schedule">
    <table class="schCol table-condensed; border:none" width="100%">
      <tr>
	<td style="vertical-align:top">
          <table>
            <%= render "schBox", sec: @schedule[0] %>
            <%= render "schBox", sec: @schedule[1] %>
            <tr class="auxiliary">
              <td>
                <div style="height:30px; overflow:hidden">
                  <p>
                    9:45-10:15<br>
                    Conference
                  </p>
                </div>
              </td>
            </tr>
            <%= render "schBox", sec: @schedule[2] %>
            <%= render "schBox", sec: @schedule[3] %>
            <%= render "schBox", sec: @schedule[4] %>
            <%= render "schBox", sec: @schedule[5] %>
            <%= render "schBox", sec: @schedule[6] %>
            <tr class="auxiliary">
              <td>
                <div style="height:15px; overflow:hidden">
                  Athletics
                </div>
              </td>
            </tr>
            <%= render "schBox", sec: @schedule[7] %>
            <%= render "schBox", sec: @schedule[8] %>
          </table>
        </td>
        <td style="vertical-align:top">
          <table>
            <%= render "schBox", sec: @schedule[9] %>
            <%= render "schBox", sec: @schedule[10] %>
            <tr class="auxiliary">
              <td>
                <div style="height:30px; overflow:hidden">
                  <p>
                    9:45-10:15<br>
                    Conference
                  </p>
                </div>
              </td>
            </tr>
            <%= render "schBox", sec: @schedule[11] %>
            <%= render "schBox", sec: @schedule[12] %>
            <%= render "schBox", sec: @schedule[13] %>
            <%= render "schBox", sec: @schedule[14] %>
            <%= render "schBox", sec: @schedule[15] %>
            <tr class="auxiliary">
              <td>
                <div style="height:15px; overflow:hidden">
                  Athletics
                </div>
              </td>
            </tr>
            <%= render "schBox", sec: @schedule[16] %>
            <%= render "schBox", sec: @schedule[17] %>
          </table>
        </td>
        <td style="vertical-align:top">
          <table>
            <%= render "schBox", sec: @schedule[18] %>
            <%= render "schBox", sec: @schedule[19] %>
            <%= render "schBox", sec: @schedule[20] %>
            <%= render "schBox", sec: @schedule[21] %>
            <tr class="auxiliary">
              <td>
                <div style="height:80px; overflow:hidden">
                  <p>
                    10:50-11:35<br>
                    ASM
                  </p>
                </div>
              </td>
            </tr>
            <%= render "schBox", sec: @schedule[22] %>
            <%= render "schBox", sec: @schedule[23] %>
          </table>
        </td>
        <td style="vertical-align:top">
          <table>
            <tr class="auxiliary">
              <td>
                <div style="height:72px; overflow:hidden">
                  <p>
                    8:00-8:45<br>
                    Departmental Meetings
                  </p>
                </div>
              </td>
            </tr>
            <%= render "schBox", sec: @schedule[24] %>
            <%= render "schBox", sec: @schedule[25] %>
            <tr class="auxiliary">
              <td>
                <div style="height:30px; overflow:hidden">
                  <p>
                    10:10-10:40<br>
                    Conference
                  </p>
                </div>
              </td>
            </tr>
            <%= render "schBox", sec: @schedule[26] %>
            <%= render "schBox", sec: @schedule[27] %>
            <%= render "schBox", sec: @schedule[28] %>
            <%= render "schBox", sec: @schedule[29] %>
            <%= render "schBox", sec: @schedule[30] %>
            <%= render "schBox", sec: @schedule[31] %>
            <tr class="auxiliary">
              <td>
                <div style="height:15px; overflow:hidden">
                  Athletics
                </div>
              </td>
            </tr>
            <%= render "schBox", sec: @schedule[32] %>
            <%= render "schBox", sec: @schedule[33] %>
          </table>
        </td>
        <td style="vertical-align:top">
          <table>
            <%= render "schBox", sec: @schedule[34] %>
            <%= render "schBox", sec: @schedule[35] %>
            <tr class="auxiliary">
              <td>
                <div style="height:30px; overflow:hidden">
                  <p>
                    9:45-10:15<br>
                    Conference
                  </p>
                </div>
              </td>
            </tr>
            <%= render "schBox", sec: @schedule[36] %>
            <%= render "schBox", sec: @schedule[37] %>
            <%= render "schBox", sec: @schedule[38] %>
            <%= render "schBox", sec: @schedule[39] %>
            <%= render "schBox", sec: @schedule[40] %>
            <tr class="auxiliary">
              <td>
                <div style="height:15px; overflow:hidden">
                  Athletics
                </div>
              </td>
            </tr>
            <%= render "schBox", sec: @schedule[41] %>
            <%= render "schBox", sec: @schedule[42] %>
          </table>
        </td>
      </tr>
    </table> 
  </div>
  <h3>Other Commitments:</h3>
  <% @student.commitments.each do |c| %>
  <p>
    <%= link_to(commitment_string(c), c, remote: true) %>
  </p>
  <% end %>
</div>
<div class="col-md-4" id="sectionBox">
  <h3>Click a class to view its roster.</h3>
</div>
