<h1><%= @course.title %></h1>
<h1><%= @course.name %></h1><br>
<table class="table table-striped">
<tr>
  <th>Section</th>
  <th>Teacher</th>
  <th>Period</th>
  <th>Class size</th>
<% @courses.each do |c| %>
  <% c.sections.sort_by(&:name).each do |s| %>
    <tr>
      <td><%= link_to s.name, s %></td>
      <td><%= link_to c.teacher.full_name, c.teacher %></td>
      <td><%= get_period s %></td>
      <td><%= s.students.count %></td>
    </tr>
  <% end %>
<% end %>
</table>

