<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? "Schedule Search | " + yield(:title) : "Schedule Search" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Schedule Search" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/superhero/bootstrap.css" rel="stylesheet"></link>
    <style>body {padding-top: 70px;}.navbar {border-radius: 0;}</style>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= favicon_link_tag 'icon.ico' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class="container" id="main">
      <%= render 'layouts/messages' %>
      <div class="row">
	<%= yield %>
      </div>
      <div class="row">
	<%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
